.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.046875;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.939941;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.026367;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(25,27,14),0 0.015em rgb(25,27,14),0.015em 0 rgb(25,27,14),0 -0.015em  rgb(25,27,14);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(25,27,14);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{width:1.139962px;}
._5{width:62.959991px;}
._2{width:71.431999px;}
._0{width:73.847999px;}
._1{width:75.251991px;}
._4{width:82.283991px;}
.fc0{color:rgb(25,27,14);}
.fsc{font-size:56.000000px;}
.fsb{font-size:58.000000px;}
.fs9{font-size:64.000000px;}
.fsa{font-size:66.000000px;}
.fs4{font-size:76.000000px;}
.fs3{font-size:78.000000px;}
.fs8{font-size:80.000000px;}
.fs7{font-size:82.000000px;}
.fs1{font-size:92.000000px;}
.fs6{font-size:128.000000px;}
.fs2{font-size:160.000000px;}
.fs5{font-size:176.000000px;}
.fs0{font-size:288.000000px;}
.y0{bottom:0.000000px;}
.y15{bottom:107.902481px;}
.y1f{bottom:121.382233px;}
.y14{bottom:125.950485px;}
.y13{bottom:143.998505px;}
.y1e{bottom:144.606583px;}
.y12{bottom:162.911209px;}
.y1d{bottom:169.654587px;}
.y11{bottom:185.471207px;}
.y1c{bottom:195.567291px;}
.y2{bottom:199.894093px;}
.y10{bottom:208.031204px;}
.y1b{bottom:229.262589px;}
.yf{bottom:242.591202px;}
.y1a{bottom:247.310593px;}
.y8{bottom:249.214180px;}
.y1{bottom:252.298950px;}
.ye{bottom:265.151199px;}
.y19{bottom:273.223297px;}
.y7{bottom:275.366180px;}
.yd{bottom:287.711197px;}
.y18{bottom:306.918594px;}
.yc{bottom:310.271194px;}
.y6{bottom:311.926842px;}
.yb{bottom:332.831192px;}
.y17{bottom:332.831299px;}
.y20{bottom:338.163509px;}
.ya{bottom:369.985302px;}
.y16{bottom:369.985409px;}
.y5{bottom:385.154419px;}
.y4{bottom:411.306419px;}
.y9{bottom:444.413792px;}
.y3{bottom:447.867081px;}
.ha{height:48.000000px;}
.hc{height:50.466797px;}
.hb{height:57.427734px;}
.h4{height:67.869141px;}
.h9{height:68.789062px;}
.h8{height:69.609375px;}
.h7{height:71.349609px;}
.h2{height:80.050781px;}
.h6{height:111.375000px;}
.h3{height:139.218750px;}
.h5{height:153.140625px;}
.h1{height:250.593750px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x3{left:115.200012px;}
.x7{left:145.439997px;}
.x4{left:172.692535px;}
.x6{left:188.500000px;}
.x5{left:214.452538px;}
.x1{left:372.667252px;}
.x2{left:429.854736px;}
.x9{left:508.254456px;}
.xa{left:550.014458px;}
.xb{left:580.254456px;}
.xc{left:586.014458px;}
.x8{left:655.514008px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{width:1.519949pt;}
._5{width:83.946655pt;}
._2{width:95.242665pt;}
._0{width:98.463999pt;}
._1{width:100.335989pt;}
._4{width:109.711989pt;}
.fsc{font-size:74.666667pt;}
.fsb{font-size:77.333333pt;}
.fs9{font-size:85.333333pt;}
.fsa{font-size:88.000000pt;}
.fs4{font-size:101.333333pt;}
.fs3{font-size:104.000000pt;}
.fs8{font-size:106.666667pt;}
.fs7{font-size:109.333333pt;}
.fs1{font-size:122.666667pt;}
.fs6{font-size:170.666667pt;}
.fs2{font-size:213.333333pt;}
.fs5{font-size:234.666667pt;}
.fs0{font-size:384.000000pt;}
.y0{bottom:0.000000pt;}
.y15{bottom:143.869975pt;}
.y1f{bottom:161.842977pt;}
.y14{bottom:167.933980pt;}
.y13{bottom:191.998006pt;}
.y1e{bottom:192.808777pt;}
.y12{bottom:217.214945pt;}
.y1d{bottom:226.206116pt;}
.y11{bottom:247.294942pt;}
.y1c{bottom:260.756388pt;}
.y2{bottom:266.525457pt;}
.y10{bottom:277.374939pt;}
.y1b{bottom:305.683451pt;}
.yf{bottom:323.454936pt;}
.y1a{bottom:329.747457pt;}
.y8{bottom:332.285573pt;}
.y1{bottom:336.398600pt;}
.ye{bottom:353.534932pt;}
.y19{bottom:364.297729pt;}
.y7{bottom:367.154907pt;}
.yd{bottom:383.614929pt;}
.y18{bottom:409.224792pt;}
.yc{bottom:413.694926pt;}
.y6{bottom:415.902456pt;}
.yb{bottom:443.774923pt;}
.y17{bottom:443.775065pt;}
.y20{bottom:450.884679pt;}
.ya{bottom:493.313736pt;}
.y16{bottom:493.313878pt;}
.y5{bottom:513.539225pt;}
.y4{bottom:548.408559pt;}
.y9{bottom:592.551722pt;}
.y3{bottom:597.156108pt;}
.ha{height:64.000000pt;}
.hc{height:67.289062pt;}
.hb{height:76.570312pt;}
.h4{height:90.492188pt;}
.h9{height:91.718750pt;}
.h8{height:92.812500pt;}
.h7{height:95.132812pt;}
.h2{height:106.734375pt;}
.h6{height:148.500000pt;}
.h3{height:185.625000pt;}
.h5{height:204.187500pt;}
.h1{height:334.125000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x3{left:153.600016pt;}
.x7{left:193.919996pt;}
.x4{left:230.256714pt;}
.x6{left:251.333333pt;}
.x5{left:285.936717pt;}
.x1{left:496.889669pt;}
.x2{left:573.139648pt;}
.x9{left:677.672607pt;}
.xa{left:733.352610pt;}
.xb{left:773.672607pt;}
.xc{left:781.352610pt;}
.x8{left:874.018677pt;}
}
