.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.727539;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.104004;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.958984;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.979980;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:8.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-1.020244px;}
._1{width:1.940000px;}
._0{width:43.300000px;}
.fc2{color:rgb(89,89,89);}
.fc1{color:rgb(80,80,70);}
.fc0{color:rgb(255,255,255);}
.fs1{font-size:72.000000px;}
.fs4{font-size:80.000000px;}
.fs3{font-size:82.000000px;}
.fs2{font-size:204.000000px;}
.fs0{font-size:352.000000px;}
.y0{bottom:0.000000px;}
.y1{bottom:53.237839px;}
.y3{bottom:58.309708px;}
.y2{bottom:79.909708px;}
.y11{bottom:117.837219px;}
.y10{bottom:144.237228px;}
.ya{bottom:168.246552px;}
.yf{bottom:177.637238px;}
.y9{bottom:201.646561px;}
.ye{bottom:204.037247px;}
.y15{bottom:208.646561px;}
.y8{bottom:235.046562px;}
.yd{bottom:237.437248px;}
.y14{bottom:242.046562px;}
.y7{bottom:268.446564px;}
.yc{bottom:270.837250px;}
.y13{bottom:275.446564px;}
.y6{bottom:301.846565px;}
.yb{bottom:304.237251px;}
.y12{bottom:308.846565px;}
.y5{bottom:335.246569px;}
.y4{bottom:460.736393px;}
.h5{height:60.000000px;}
.h2{height:64.335938px;}
.h6{height:71.484375px;}
.h4{height:73.271484px;}
.h3{height:192.246094px;}
.h1{height:251.968750px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x5{left:96.957336px;}
.x4{left:105.757324px;}
.x6{left:114.957336px;}
.x7{left:123.757324px;}
.x1{left:129.272545px;}
.x3{left:706.698990px;}
.x2{left:729.698990px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:10.666667pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-1.360326pt;}
._1{width:2.586667pt;}
._0{width:57.733333pt;}
.fs1{font-size:96.000000pt;}
.fs4{font-size:106.666667pt;}
.fs3{font-size:109.333333pt;}
.fs2{font-size:272.000000pt;}
.fs0{font-size:469.333333pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:70.983785pt;}
.y3{bottom:77.746277pt;}
.y2{bottom:106.546277pt;}
.y11{bottom:157.116292pt;}
.y10{bottom:192.316305pt;}
.ya{bottom:224.328735pt;}
.yf{bottom:236.849650pt;}
.y9{bottom:268.862081pt;}
.ye{bottom:272.049662pt;}
.y15{bottom:278.195414pt;}
.y8{bottom:313.395416pt;}
.yd{bottom:316.582998pt;}
.y14{bottom:322.728750pt;}
.y7{bottom:357.928752pt;}
.yc{bottom:361.116333pt;}
.y13{bottom:367.262085pt;}
.y6{bottom:402.462087pt;}
.yb{bottom:405.649668pt;}
.y12{bottom:411.795420pt;}
.y5{bottom:446.995425pt;}
.y4{bottom:614.315191pt;}
.h5{height:80.000000pt;}
.h2{height:85.781250pt;}
.h6{height:95.312500pt;}
.h4{height:97.695312pt;}
.h3{height:256.328125pt;}
.h1{height:335.958333pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x5{left:129.276449pt;}
.x4{left:141.009766pt;}
.x6{left:153.276449pt;}
.x7{left:165.009766pt;}
.x1{left:172.363393pt;}
.x3{left:942.265320pt;}
.x2{left:972.931986pt;}
}
